:root {
  --accent-color: var(--purple-3);
  --accent-bg-color: var(--purple-3);
  --accent-fg-color: alpha(white, 1);
}

.cutout-button {
  background-color: @window_bg_color;
  border-radius: 9999px;
  padding: 2px;
}
