@define-color accent_color @purple_3;
@define-color accent_bg_color @purple_3;
@define-color accent_fg_color alpha(white, 1);

.cutout-button {
  background-color: @window_bg_color;
  border-radius: 9999px;
  padding: 2px;
}

